.poke-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Tahoma";
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.the-timer {
  margin: 15px;
}

.titulo {
  color: #FFFFFF;
  margin: 10px;
}

.counters {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.correct, .incorrect {
  margin: 2px;
}

.the-image {
  margin: 10px;
}

.button1, .button2 {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 5em;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 18px;
  font-family: "Tahoma";
  color: #000000;
  background-color: #3386FF;
  text-align: center;
  transition: all 0.2s;
}
.button1:hover {
  color: #000000;
  background-color: #FFFFFF;
}
@media all and (max-width:30em) {
  .button1 {
    display: block;
    margin-left: 0.4em auto;
  }
}
.button2:hover {
  color: #000000;
  background-color: #FFFFFF;
}
@media all and (max-width:30em) {
  .button2 {
    display: block;
    margin-left: 0.4em auto;
  }
}

.right-or-wrong {
  color: #FFFFFF;
  font-size: 25px;
}
